%section
  .container.pt-5
    .h-100.pt-5
      Register Work
      =render 'form'
  .container.pt-2
    =link_to 'Register director', new_director_path
    \/
    =link_to 'Back to work index', works_path
    \/
    =link_to 'Go to top', root_path
