タイトル：
=@work.title
%br
監督：
=link_to @work.director.name, director_path(@work.director)
%br
リリース年：
=@work.release
%br
主演：
=@work.starring
%br
説明文：
=@work.description
%br
=link_to '編集する', edit_work_path(@work)
%br
=link_to '削除する', work_path(@work), method: :delete, data: {confirm: '本当に削除しますか？'}
%br
=link_to '一覧に戻る', works_path
%br
=link_to 'トップに戻る', root_path	
