-# %h1 Directors#index
-# %p Find me in app/views/directors/index.html.haml
-# -@directors.each do |director|
-#   監督名：
-#   =link_to director.name, director_path(director)
-#   %br
-#   =link_to '編集する', edit_director_path(director)
-#   =link_to '削除する', director_path(director), method: :delete, data: {confirm: '本当に削除しますか？'}
-#   %br
-#
-#   %hr
-# =link_to '新規登録', new_director_path
-# %br
-# =link_to 'トップに戻る', root_path
-#
/ >>>>>>>>>>>>>>>> Welcome Area Start <<<<<<<<<<<<<<<<
%section#home.welcome_area.gradient-background-overlay.clearfix{:style => "background-image: url('img/director-background-img.jpg');"}
  .container.h-100
    .row.h-100.align-items-center.justify-content-end
      .col-12.col-lg-7
        .welcome_area_content
          .welcome_content
            .cd-intro
              %h2.cd-headline.clip.is-full-width
                %span.cd-words-wrapper
                  %b.is-visible ~DIRECTORS~
                  -# %b You can find awesome movies.
            %p Click the icon to get more information.
            -# %a.btn.light-btn{:href => "#"} Learn More
/ >>>>>>>>>>>>>>>> Welcome Area End <<<<<<<<<<<<<<<<
/ >>>>>>>>>>>>>>>> Project area start <<<<<<<<<<<<<<<<
%section#portfolio.gallery_area.section_padding_0_100.clearfix
  .container
    .row
      .col-12
        -# .gallery_menu
          .text-center.portfolio-menu
            %button.active.btn.btn-md{"data-filter" => "*", :type => "button"}
              All
              %span.badge 9
            %button.btn.btn-md{"data-filter" => ".gra", :type => "button"}
              Graphic
              %span.badge 5
            %button.btn.btn-md{"data-filter" => ".art", :type => "button"}
              Art
              %span.badge 3
            %button.btn.btn-md{"data-filter" => ".bra", :type => "button"}
              Branding
              %span.badge 1
        .gallery_full_width_images_area.row.clearfix
          / Single gallery Item
          -@directors.each do |director|
            .col-12.col-sm-6.col-md-4.single_gallery_item
              .single_gallery_content
                -if director.image_url.present?
                  =image_tag director.image_url(:thumb)
                -else
                  =image_tag '/img/default_work.png'
                / Hover Effects
                .hover_overlay
                  .gallery_info
                    .zoom-details-btn
                      =link_to director.image_url, class: director.image.present? ? 'gallery_img animated fadeInDown' : 'gallery_img animated fadeInDown disabled' do
                        %i.fa.fa-search-plus
                      =link_to director_path(director) do
                        %i.fa.fa-link
                      -# %a.gallery_img.animated.fadeInDown{:href => "img/gallery/p-1.jpg"}
                    %h5=director.name
                    %p=director.birthplace
                    -# %p=work.release
        .row
          .col-12
            =link_to 'Register director', new_director_path, class: 'btn light-btn'
/ >>>>>>>>>>>>>>>> Project area end <<<<<<<<<<<<<<<<
/ >>>>>>>>>>>>>>>> Our Service Area Start <<<<<<<<<<<<<<<<
-# %section.our_service_area.section_padding_0_50
-#   .container
-#     .row
-#       .col-12
-#         .section_heading
-#           %h2 Our Service
-#           %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In tempora fugit, assumenda possimus porro, hic!
-#       .col-12.col-sm-6.col-md-4
-#         .single_service
-#           %i.ti-ruler-pencil{"aria-hidden" => "true"}
-#           .single_service_content
-#             %h4 Web Design
-#             %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, architecto.
-#       .col-12.col-sm-6.col-md-4
-#         .single_service
-#           %i.ti-desktop{"aria-hidden" => "true"}
-#           .single_service_content
-#             %h4 Development
-#             %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, architecto.
-#       .col-12.col-sm-6.col-md-4
-#         .single_service
-#           %i.ti-crown{"aria-hidden" => "true"}
-#           .single_service_content
-#             %h4 Branding
-#             %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, architecto.
-#       .col-12.col-sm-6.col-md-4
-#         .single_service
-#           %i.ti-paint-bucket{"aria-hidden" => "true"}
-#           .single_service_content
-#             %h4 Oil Painting
-#             %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, architecto.
-#       .col-12.col-sm-6.col-md-4
-#         .single_service
-#           %i.ti-write{"aria-hidden" => "true"}
-#           .single_service_content
-#             %h4 Content Writing
-#             %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, architecto.
-#       .col-12.col-sm-6.col-md-4
-#         .single_service
-#           %i.ti-video-camera{"aria-hidden" => "true"}
-#           .single_service_content
-#             %h4 Video Making
-#             %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, architecto.
/ >>>>>>>>>>>>>>>> Our Service Area End <<<<<<<<<<<<<<<<
