.disabled{
  pointer-events: none;
  opacity: 0.3;
}
.breadcumb_area{
  height: auto;
}
.breadcrumb li > a {
  color: #000000;
}
.section_padding_40_0 {
  padding: 40px 0 0 0;
}
.breadcrumb-item.active {
  color: #000000;
}
.cd-headline.clip b{
  color: #ff1493;
}
