/ >>>>>>>>>>>>>>>> Footer Area Start <<<<<<<<<<<<<<<<
%footer.footer_area.section_padding_100.text-center.bg-gray
  .container
    .row
      .col-12
        / Bottom Footer Copywrite Text Area
        .footer_content
          / Footer Content
          .foo_contents
            / Footer Logo
            .footer_logo
              %a{:href => "index.html"} Champ.
            / Footer Social Icon
            .footer_social_icon
              %a{:href => "#"}
                %i.ti-facebook{"aria-hidden" => "true"}
              %a{:href => "#"}
                %i.ti-google{"aria-hidden" => "true"}
              %a{:href => "#"}
                %i.ti-instagram{"aria-hidden" => "true"}
              %a{:href => "#"}
                %i.ti-dribbble{"aria-hidden" => "true"}
              %a{:href => "#"}
                %i.ti-youtube{"aria-hidden" => "true"}
            %a{:href => "#"} care@Champ.com
            %a{:href => "#"} (+88095) 1701 236 214
            %a{:href => "#"} R#21, Melbourne, Australia
          / Copywrite Text
          %p
            Made with
            %i.fa.fa-heart
            by
            %a{:href => "#"} DesigningWorld
/ >>>>>>>>>>>>>>>> Footer Area End <<<<<<<<<<<<<<<<
