/ >>>>>>>>>>>>>>>> Footer Area Start <<<<<<<<<<<<<<<<
%footer.footer_area.section_padding_100.text-center.bg-gray
  .container
    .row
      .col-12
        / Bottom Footer Copywrite Text Area
        .footer_content
          / Footer Content
          .foo_contents
            / Footer Logo
            .footer_logo
              =link_to root_path, class: 'navbar-brand' do
                =image_tag '/img/logo_transparent.png'
            / Footer Social Icon
            %p
            movielog@movie.com
            \/ (+1) 000 000 0000
            \/ R#21, Toronto, Canada
          / Copywrite Text
          %p
            Made with
            %i.fa.fa-heart
            by
            %a{:href => "#"} DesigningWorld
/ >>>>>>>>>>>>>>>> Footer Area End <<<<<<<<<<<<<<<<
